@model DigitalEducation.Models.Problem.ProblemViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создание задания</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" type="file" class="form-control" accept="image/jpeg"/>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="selected-subsection" class="control-label">Подраздел</label>
                <select id="selected-subsection" asp-for="SubsectionId" class="form-control" asp-items="ViewBag.Subsections"></select>
            </div>
            <div class="form-group">
                <label asp-for="SolutionPicture" class="control-label"></label>
                <input asp-for="SolutionPicture" type="file" class="form-control" accept="image/png, image/jpeg">
                <span asp-validation-for="SolutionPicture" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к заданиям</a>
</div>

